@keyframes slide-top {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slider {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

@keyframes slide-text {
    0% {
        transform: translateY(0);
    }

    15%,
    30% {
        transform: translateY(-100%);
    }

    45%,
    60% {
        transform: translateY(-200%);
    }

    75%,
    90% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-400%);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
